div input {
  margin: 5pt 5pt 5pt 5pt;
}
body {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
}
input {
  size: 5px;
}
h1 {
  font-family: "Poppins", sans-serif;
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: rgb(112, 185, 245);
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-primary {
  height: 40px;
  width: 40px;
}
